# OS
.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log

# Env files
.env
.env.local
.env.*.local

# Terraform local state
infra/github/.terraform/
infra/github/terraform.tfstate
infra/github/terraform.tfstate.backup
infra/github/terraform.tfvars
